.custom-card {
	position: relative;
	border: none;
	border-radius: 32px;
	height: 470px;
	width: 100%;
	max-width: 280px;
	text-align: justify;
	margin: auto;
	.card-links {
		padding: 10px;
		text-align: center;
		> .card-button {
			width: 150px;
			border: none;
			border-radius: 32px;
		}
	}
	&.blue-gradient {
		background: rgb(19, 188, 187);
		background: linear-gradient(140deg, rgba(19, 188, 187, 1) 0%, rgba(54, 15, 219, 1) 100%);
		-webkit-box-shadow: 7px 7px 6px 0px rgba(122, 161, 160, 0.25);
		-moz-box-shadow: 7px 7px 6px 0px rgba(122, 161, 160, 0.25);
		box-shadow: 7px 7px 6px 0px rgba(122, 161, 160, 0.25);
		color: #f9f9f9;
	}
	&.mag-gradient {
		background: rgb(208, 34, 227);
		background: linear-gradient(140deg, rgba(208, 34, 227, 1) 0%, rgba(54, 15, 219, 1) 100%);
		-webkit-box-shadow: 7px 7px 6px 0px rgba(214, 165, 220, 0.2);
		-moz-box-shadow: 7px 7px 6px 0px rgba(214, 165, 220, 0.2);
		box-shadow: 7px 7px 6px 0px rgba(214, 165, 220, 0.2);
		color: #f9f9f9;
	}
	&.ocean-gradient {
		background: rgb(35, 48, 236);
		background: linear-gradient(140deg, rgba(35, 48, 236, 1) 0%, rgba(58, 190, 3, 1) 100%);
		-webkit-box-shadow: 6px 6px 7px 0px rgba(164, 171, 219, 0.2);
		-moz-box-shadow: 6px 6px 7px 0px rgba(164, 171, 219, 0.2);
		box-shadow: 6px 6px 7px 0px rgba(164, 171, 219, 0.2);
		color: #f9f9f9;
	}
}
