body {
	background-color: #191919;
}

#page-container {
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#content-wrap {
	padding-bottom: 4rem;
	position: relative;
	height: 100%;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4rem;
	background-color: #191919;
	color: white;
}

@media only screen and (max-width: 600px) {
	#footer {
		height: 5.5rem;
	}

	#content-wrap {
		padding-bottom: 5.5rem;
	}
}
.router-link-exact-active {
	color: $mint !important;
	border-bottom: 2px solid;
}
.section-headline {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 3rem;
	text-align: center;
	color: white;
}
.section-subTitle {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 2rem;
	color: $mint;
}

#projects-tab .nav-link {
	color: white;
	font-weight: normal;
}
#projects-tab .nav-link.active {
	color: $mint;
	font-weight: bold;
	border-bottom: 1px solid;
}

#myTabContent {
	margin-top: 25px;
}

#pmodal {
	@media only screen and (max-width: 600px) {
		height: 100vh;
	}
	.modal-content {
		background-color: #fff;
		color: #000;
	}
	.carousel-inner {
		max-height: 300px;
	}
	#desc-container {
		display: flex;
		justify-content: space-evenly;
		padding-top: 20px;
		@media only screen and (max-width: 600px) {
			display: block;
		}
	}
}

@media only screen and (max-width: 768px) {
	#web.tab-pane {
		display: none;
	}
}
