.vue-page {
	position: absolute;
	width: inherit;
	display: flex;
	height: 100%;
	justify-content: center;
	@media only screen and (max-width: 768px) {
		position: static;
		transition: none !important;
		animation: none !important;
	}
}
